
@{
    ViewBag.Title = "Code";
}

<h2>Input your Code down below here!</h2>
<hr />
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        @using (Html.BeginForm("PostNewBar", "Locations", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Code" })
            <br />
            <input type="submit" value="Submit" class="btn btn-success" />
        }
    </div>
</div>