@model PSI_X.Models.User
@{
    ViewBag.Title = "NotLoggedIn";
}
<h2>You are not logged in yet.</h2>

<h3>Do you wish to login in?</h3>
<div class="container">
    <a href="/UserAcount/Login/">Login</a>
</div>


