
body {
    background-color: darkslateblue;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  
    color: antiquewhite;

}

#container {
    min-height: 100%;
    position: relative;
}
   

#header {
    background: #ff0;
    padding: 10px;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #1abc9c;
}
#nav {
    position: fixed;
    top: 40px;
}
