.namas {
    height: 100%;
    background-image: url("https://images6.alphacoders.com/366/366291.jpg");
    background-color: #cccccc;
    background-position: center center;
    background-size: cover;
    color:antiquewhite;
}
body {
    background-color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  
    color: darkblue;

}

#container {
    margin-top: 30px;
    min-height: 100%;
    position: relative;
}
   

#header {
    background: #ff0;
    padding: 10px;
}

#footer {
    background-color: darkslategrey;
   }
#nav {
    position: fixed;
    top: 40px;
}
a.namas {
    color: antiquewhite;
}

    a.namas:active {
        color: antiquewhite;
    }

    a.namas:link {
        color: antiquewhite;
    }

    a.namas :visited {
        color: antiquewhite;
    }