@model PSI_X.ViewModels.CodeViewModel
@{
    ViewBag.Title = "GetPoints";
}
<body class="home-background">
    <h3 style="padding-top: 50px; color:white">Input your code down below here</h3>
    <hr />
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            @using (Html.BeginForm("GetPoints", "UserPoints", FormMethod.Post))
            {
                @Html.TextBoxFor(model => model.CodeG, new { @class = "form-control", @placeholder = "Code" })
                <br />
                <input type="submit" value="Submit" class="btn btn-success" />
            }
        </div>
    </div>
    @if (ViewBag.Message != null)
    {
        <h3 style="color: white">@ViewBag.Message</h3>
    }
    <li style="font-size: 25px; color: white;">@Html.ActionLink("See all companies", "Show", "Companies", null, null)</li>
    <li style="font-size: 25px; color: white;">@Html.ActionLink("See all available rewards", "AllRewards", "Rewards", null, null)</li>
</body>